body {
  font-family: Arial, sans-serif;
  color: #ccc; /* Texto gris */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('img/matrix-background.gif'); /* Ruta del GIF de fondo */
  background-size: cover;
  background-position: center;
  transition: background 0.5s ease; /* Suavizar la transición del fondo */
}

.container {
  text-align: center;
  background-color: rgba(50, 50, 50, 0.8); /* Fondo gris semitransparente */
  padding: 20px;
  border-radius: 10px;
  max-width: 90%; /* Ancho máximo del contenedor */
}

input[type="text"] {
  margin: 10px auto; /* Margen superior e inferior de 10px y centrado horizontal */
  padding: 8px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: #ccc; /* Texto gris en campos de entrada y botones */
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 100%; /* Ancho del campo de entrada al 100% */
  max-width: 300px; /* Ancho máximo del campo de entrada */
  box-sizing: border-box; /* Incluir el padding y border en el ancho total */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suavizar la transición del color de fondo y texto */
}

input[type="text"]:focus {
  outline: none; /* Eliminar el contorno al enfocar */
}

p {
  font-size: 20px;
}

/* Estilos para la imagen */
#imagen {
  display: none; /* Ocultar la imagen por defecto */
  max-width: 100%; /* Ancho máximo de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  margin-top: 20px; /* Espacio superior */
}
